/* Start Globl Rules */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Section Padding */
.sect-pad {
  padding-top: 100px;
  padding-bottom: 100px;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-section-padding: 100px;
  --main-transition: 0.3s;
  --section-background: #ececec;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.main-title {
  width: fit-content;
  padding: 10px 20px;
  margin: 0 auto 80px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  font-size: 30px;
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.4s;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.4s forwards linear;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.4s forwards linear;
}

.spikes {
  position: relative;
}

.spikes::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 30px;
  /* background-color: red; */
  z-index: 1;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}

/* End Globl Rules */

/* Start Header */
.header {
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  -o-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .container .logo {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  height: 74px;
  display: grid;
  place-items: center;
}

.header .logo a {
  color: var(--main-color);
}

.header .container .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .container .logo {
    width: 100%;
    height: 50px;
  }
  .header .container .main-nav {
    margin: auto;
  }
}

.header .main-nav > li {
  color: black;
}
.header .main-nav > li:last-of-type:hover .megamenu {
  opacity: 1;
  z-index: 1200;
  top: calc(100% + 1px);
}
.header .main-nav > li > a {
  color: black;
  display: grid;
  place-items: center;
  font-size: 18px;
  height: 74px;
  position: relative;
  padding: 0 30px;
  transition: var(--main-transition);
  position: realtive;
  overflow: hidden;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    font-size: 14px;
    height: 40px;
    padding: 0px 10px;
  }
}

.header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color-alt);
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  overflow: hidden;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

/* Start MegaMenu */
.header .megamenu {
  display: flex;
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  z-index: 100;
  background-color: #fff;
  padding: 30px;
  border-bottom: 5px solid var(--main-color);
  width: 100%;
  gap: 30px;
  z-index: -1;
  opacity: 0;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .megamenu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .megamenu .image {
  width: 50%;
  display: grid;
  place-items: center;
}
.header .megamenu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .megamenu .image {
    display: none;
  }
}
.header .megamenu .links {
  min-width: 240px;
  flex: 1;
}
.header .megamenu li {
  padding: 11px 20px;
  font-size: 15px;
  position: relative;
}
@media (max-width: 767px) {
  .header .megamenu .links:first-of-type li:last-of-type {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .megamenu li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  background-color: #fafafa;
  z-index: -1;
}

.header .megamenu li:hover:before {
  width: 100%;
}

.header .megamenu li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

.header .megamenu li a {
  color: var(--main-color);
  text-transform: capitalize;
}

.header .megamenu li i {
  margin-right: 10px;
}
/* End MegaMenu */
/* End Header */

/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  min-height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  padding-bottom: var(--main-section-padding);
  display: relative;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 30px;
  }
}
.landing .text p {
  color: #666;
  line-height: 1.6;
  font-size: 15px;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}
.landing .image img {
  position: relative;
  width: 600px;
  animation: up-down linear infinite 5s;
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  display: grid;
  place-items: center;
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  font-size: 30px;
  font-weight: 900;
  animation: bouncing 1.5s infinite linear;
}

/* End Landing */

/* Start Articles */
.articles {
  position: relative;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}

.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .box img {
  max-width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  margin-bottom: 10px;
}
.articles .box .content p {
  color: #777;
  line-height: 1.5;
}
.articles .box .info {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #eee;
}
.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
}

.articles .box .info i {
  color: var(--main-color);
}
.articles .box:hover .info i {
  animation: arrow-to-left 0.5s linear infinite;
}
/* End Articles */

/* Start Gallery */
.gallery {
  position: relative;
  background: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}

.gallery .container .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .container .image img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .container .image:hover img {
  transform: scale(1.1) rotate(5deg);
}

/* End Gallery */

/* Start Features */
.features {
  position: relative;
  background-color: #fff;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .box {
  border: 1px solid #ccc;
  text-align: center;
}

.features .image-holder {
  position: relative;
  overflow: hidden;
}

.features .box .image-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1;
  width: 100%;
  height: 100%;
}
.features .image-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  transition: var(--main-transition);
}

.features .image-holder img {
  max-width: 100%;
}

.features .box:hover .image-holder::after {
  border-width: 0px 500px 170px 0px;
  /* border-color: transparent transparent white transparent; */
}

.features .box h2 {
  position: relative;
  font-size: 30px;
  margin: 0 auto 20px;
  width: fit-content;
  position: relative;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);
  height: 5px;
  background-color: red;
}

.features .quality h2::after {
  background-color: #f44036;
}
.features .time h2::after {
  background-color: #009485;
}
.features .passion h2::after {
  background-color: #03a9f4;
}

.features .box p {
  margin: 20px auto;
  line-height: 2;
  font-size: 16px;
  color: #777;
  padding: 20px;
}

.features .quality .image-holder::before {
  background-color: rgba(244, 63, 54, 0.6);
}
.features .time .image-holder::before {
  background-color: rgba(0, 150, 135, 0.6);
}
.features .passion .image-holder::before {
  background-color: rgba(3, 168, 244, 0.6);
}

.features .box a {
  display: block;
  margin: 0 auto 30px;
  font-size: 25px;
  font-weight: bold;
  border: 3px solid transparent;
  padding: 10px 25px;
  width: fit-content;
  border-radius: 6px;
  text-align: center;
  transition: var(--main-transition);
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .time a {
  color: #009485;
  border-color: #009485;
  background: linear-gradient(90deg, #009485 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover a {
  background-position: left bottom;
  color: #fff;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  position: relative;
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  padding: 30px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  border: 10px solid var(--section-background);
}

.testimonials .box h3 {
  color: var(--main-color);
  margin-bottom: 20px;
}

.testimonials .box .title {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  margin-top: 10px;
  color: #777;
}
/* End Testimonials */

/* Start Team Members */
.team {
  position: relative;
  /* background-color: #fff; */
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team .box {
  position: relative;
}

.team .box::before,
.team .box::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  background-color: #f3f3f3;
  z-index: -2;
}
.team .box::after {
  background-color: #e4e4e4;
  z-index: -1;
  width: 0;
}

.team .box:hover:after {
  width: calc(100% - 60px);
}

.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}

.team .box:hover img {
  filter: grayscale(100%);
}

.team .box .data .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  gap: 30px;
}

.team .box .data .social a {
  width: 60px;
  display: grid;
  place-items: center;
  height: 30px;
}

.team .box .data .social i {
  color: #777;
  transition: var(--main-transition);
}

.team .box .data i:hover {
  color: var(--main-color);
}
.team .box .info {
  padding-left: 80px;
}

.team .box .info h3 {
  color: var(--main-color);
  padding: 10px 0;
  transition: var(--main-transition);
}

.team .box:hover .info h3 {
  color: #777;
}

.team .box .info p {
  padding: 0 0 20px;
  color: #777;
}
/* End Team Members */

/* Start Services */
.services {
  position: relative;
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  background-color: #fff;
  box-shadow: 0 12px 20px 0 / rgba(0, 0, 0, 0.13),
    0 2px 4px 0 / rgba(0, 0, 0, 0.12);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
  text-align: center;
  position: relative;
}
.services .container .box::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box > i {
  display: block;
  margin: 30px auto 10px;
  color: #d5d5d5;
}

.services .container .box > h3 {
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 30px;
}

.services .container .box > .info {
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
  font-size: 22px;
  padding: 10px;
  text-align: right;
  font-weight: bold;
}
.services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  background-color: #d5d5d5;
  width: 80px;
  display: grid;
  place-items: center;
  height: 100%;
  top: 0;
  padding-right: 10px;
  color: var(--main-color);
  font-weight: bold;
}
.services .box .info::after {
  content: "";
  position: absolute;
  left: 80px;
  background-color: #d5d5d5;
  width: 50px;
  height: 100%;
  top: 0;
  transform: skew(-15deg);
  background-color: var(--main-color);
}
.services .container .box > .info a {
  color: var(--main-color);
}
/* End Services */

/* Start Our Skills */

.skills {
  position: relative;
  background-color: #fff;
}

.skills .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .skills .container {
    justify-content: center;
  }
}

.skills .container .img-holder {
  flex-basis: 40%;
  width: fit-content;
  display: grid;
  place-items: center;
}
@media (max-width: 992px) {
  .skills .container .img-holder {
    display: none;
  }
}
.skills .container .img-holder img {
  max-width: 100%;
}
.skills .container .skill-holder {
  flex-basis: 55%;
}
@media (max-width: 992px) {
  .skills .container .skill-holder {
    flex-basis: 90%;
  }
}

.skills .container .skill-holder .skill p {
  color: #000;
  font-weight: bold;
  text-align: left;
  padding: 20px 10px 10px 0;
  font-size: 20px;
  position: relative;
  color: black;
}
.skills .container .skill-holder .skill p::after {
  content: "" attr(data-skill);
  color: var(--main-color);
  position: absolute;
  right: 0;
  top: calc(50% + 4px);
  transform: translateY(-50%);
  height: 20px;
  width: fit-content;
  padding: 2px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  text-align: center;
  font-size: medium;
  display: grid;
  place-items: center;
}
.skills .container .skill-holder .skill div {
  height: 30px;
  width: 100%;
  background-color: #eee;
}

.skills .container .skill-holder .skill span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}
/* End Our Skills */

/* Start Work Steps */

.work-steps {
  position: relative;
  background-color: var(--section-background);
}

.work-steps .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}

.work-steps .container .info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-steps .container .image {
  max-width: 100%;
}

.work-steps .container .info .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f6f5f5;
  padding: 20px;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .work-steps .container .info .box {
    flex-direction: column;
    text-align: center;
  }
}

.work-steps .container .info .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
  width: 0;
  height: 0;
  z-index: -1;
  background-color: #ededed;
}

.work-steps .container .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-steps .container .info .box img {
  width: 64px;
}

.work-steps .container .info .box .text h3 {
  font-size: 20px;
}

.work-steps .container .info .box .text p {
  margin-top: 10px;
  color: #777;
  line-height: 1.7;
}
/* End Work Steps */

/* Start Events */
.events {
  position: relative;
  background-color: #fff;
}

.events .container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.events .container img {
  max-width: 450px;
}

@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}

.events .container .info {
  flex: 1;
}

.events .container .info .time {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.events .container .info .time .unit {
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  width: 70px;
  transition: var(--main-transition);
}

.events .container .info .time .unit:hover {
  border-color: var(--main-color);
}

.events .container .info .time .unit span {
  display: block;
  text-align: center;
}

.events .container .info .time .unit span:first-child {
  font-size: 35px;
  font-weight: bold;
  padding: 10px;
  color: var(--main-color);
}

.events .container .info .time .unit span:last-child {
  padding: 10px;
  border-top: 1px solid #d5d5d5;
  transition: var(--main-transition);
  font-size: 13px;
}

.events .container .info .time .unit:hover span:last-child {
  border-top-color: var(--main-color);
}

.events .container .info h2 {
  text-align: center;
  margin-bottom: 40px;
}

.events .container .info p {
  text-align: center;
  color: #777;
  line-height: 1.6;
}

.events .container .subscribe {
  width: 600px;
  border-radius: 30px;
  background-color: #f6f5f5;
  padding: 20px;
}

@media (max-width: 767px) {
  .events .container .subscribe {
    width: 95%;
    border-radius: 0;
  }
}
.events .container .subscribe form {
  display: flex;
}

@media (max-width: 767px) {
  .events .container .subscribe form {
    flex-direction: column;
    gap: 10px;
  }
}

.events .container .subscribe form input {
  padding: 20px;
  border: 0px solid transparent;
}

.events .container .subscribe form input[type="email"] {
  flex: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  caret-color: var(--main-color);
}

@media (max-width: 767px) {
  .events .container .subscribe form input[type="email"] {
    border-radius: 0;
  }
}

.events .container .subscribe form input[type="email"]::placeholder {
  opacity: 1;
}

.events .container .subscribe form input[type="email"]:hover::placeholder {
  opacity: 0;
}
.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .container .subscribe form input[type="submit"] {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #fff;
  background-color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}

.events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Events */

/* Start Pricing */
.pricing {
  position: relative;
  background-color: var(--section-background);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .container .box {
  position: relative;
  background: #fff;
  text-align: center;
  box-shadow: 0 12px 20px 0 / rgba(0, 0, 0, 0.13),
    0 2px 4px 0 / rgba(0, 0, 0, 0.12);
  transition: var(--main-transition);
  z-index: 1;
}

.pricing .container .box::before,
.pricing .container .box::after {
  content: "";
  position: absolute;
  transition: var(--main-transition);
  background-color: #f6f6f6;
  height: 50%;
  width: 0;
  z-index: -1;
}

.pricing .container .box::before {
  top: 0;
  left: 0;
}

.pricing .container .box::after {
  bottom: 0;
  right: 0;
}

.pricing .container .box:hover::before,
.pricing .container .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .container .box.popular {
    transform: translateY(-20px);
  }
}

.pricing .container .box .title {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

.pricing .container .box.popular {
  position: relative;
}

.pricing .container .box.popular .label {
  writing-mode: vertical-lr;
  top: 0;
  right: 20px;
  background-color: var(--main-color);
  padding: 20px 20px 40px 20px;
  font-weight: bold;
  position: absolute;
  color: white;
}

.pricing .container .box.popular .label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 30px solid;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.pricing .container .box.popular:hover .label::before {
  border-color: transparent transparent #f6f6f6 transparent;
}

.pricing .container .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .container .box .price {
}

.pricing .container .box .price span {
  display: block;
}

.pricing .container .box .price span:first-child {
  font-size: 40px;
  font-weight: 900;
  color: var(--main-color);
  margin-bottom: 20px;
}

.pricing .container .box .price span:last-child {
  color: #777;
  margin-bottom: 20px;
}

.pricing .container .box ul {
  text-align: left;
}

.pricing .container .box ul li {
  padding: 20px 45px;
  border-top: 1px solid #ddd;
}

.pricing .container .box ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: var(--main-color);
  font-weight: 900;
}

.pricing .container .box a {
  margin: 30px auto 40px;
  display: block;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: fit-content;
  padding: 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .container .box a:hover {
  color: #fff;
  border: 2px solid var(--main-color-alt);
  background-color: var(--main-color-alt);
}
/* End Pricing */

/* Start Videos */
.top-videos {
  position: relative;
  background-color: #fff;
}

.top-videos .container {
}

.top-videos .container .holder {
  margin: 20px;
  background-color: var(--section-background);
  display: flex;
  border: 1px solid #ddd;
}

@media (max-width: 767px) {
  .top-videos .container .holder {
    flex-direction: column;
  }
}

.top-videos .container .holder .list {
  min-width: 300px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .top-videos .container .holder .list {
    order: 2;
  }
}

.top-videos .container .holder .list .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  color: var(--main-color);
  background-color: #f4f4f4;
}

.top-videos .container .holder .list ul li {
  padding: 15px 20px;
  border-top: 1px solid var(--section-background);
  transition: var(--main-transition);
}

.top-videos .container .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.top-videos .container .holder .list ul li span {
  display: block;
  color: #777;
  margin-top: 10px;
}

.top-videos .container .holder .preview {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-videos .container .holder .preview img {
  max-width: 100%;
}

.top-videos .container .holder .preview .info {
  background-color: #fff;
  padding: 15px;
  margin-top: 10px;
}
/* End Videos */

/* Start Stats */
.stats {
  position: relative;
  background-image: url("../Images/stats.jpg");
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.stats h2 {
  position: relative;
  margin: 50px auto 50px;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .container .box {
  background-color: #fff;
  position: relative;
  padding: 30px 15px;
  text-align: center;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .container .box::before,
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}

.stats .container .box::before {
  bottom: 0;
  left: 0;
}

.stats .container .box::after {
  top: 0;
  right: 0;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}

.stats .container .box:hover {
  opacity: 1;
}

.stats .container .box span {
  display: block;
}

.stats .container .box .number {
  font-size: 50px;
  margin: 20px auto 20px;
  font-weight: 900;
}

.stats .container .box .text {
  font-style: italic;
  color: var(--main-color);
  font-weight: bold;
}
/* End Stats */

/* Start Discount */
.discount {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.discount .content {
  padding: 0 20px;
  text-align: center;
}

.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.discount .content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px;
}

.discount .image {
  position: relative;
  flex-basis: 50%;
  background-image: url("../Images/discount-background1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  animation: change-background 10s linear infinite;
}

@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}

.discount .image::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(23, 134, 224, 0.97);
  z-index: -1;
}

.discount .image .content img {
  width: 300px;
  max-width: 100%;
  align-self: center;
}

.discount .image .content img {
  width: 300px;
  max-width: 100%;
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .content form .input {
  display: block;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  background-color: #f9f9f9;
  margin-bottom: 25px;
  caret-color: var(--main-color);
}

.discount .form .content form .input:focus {
  outline: none;
}

.discount .form .content form textarea.input {
  resize: none;
}

.discount .form .content form input[type="submit"] {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  color: #fff;
  background-color: var(--main-color);
  transition: var(--main-transition);
  border: none;
}

.discount .form .content form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Discount */

/* Start Footer */
.footer {
  position: relative;
  background-color: #191919;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 70px 30px 0;
}

@media (max-width: 776px) {
  .footer .container {
    text-align: center;
  }
}

.footer .container .box h3 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media (max-width: 776px) {
  .footer .container .box h3 {
    margin-bottom: 40px;
  }
}

.footer .container .box .social {
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 776px) {
  .footer .container .box .social {
    display: flex;
    justify-content: center;
  }
}

.footer .container .box .social li {
  margin-right: 15px;
}

.footer .container .box .social li a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  text-decoration: none;
  background-color: #313131;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}

.footer .container .box .social .facebook:hover {
  background-color: #1877f2;
}

.footer .container .box .social .twitter:hover {
  background-color: #1da1f2;
}

.footer .container .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .container .box .social li i {
  color: #b9b9b9;
}

.footer .container .box .text {
  line-height: 2;
  color: #b9b9b9;
}

.footer .container .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .container .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .container .links li:hover {
  padding-left: 10px;
}

.footer .container .links li:hover a {
  color: white;
}

.footer .container .links li a {
  color: #b9b9b9;
}

.footer .container .links li a::before {
  content: "\F101";
  font-family: "Font Awesome 5 Free";
  color: var(--main-color);
  font-weight: 900;
  margin-right: 10px;
}

.footer .container .line {
  display: flex;
  color: #b9b9b9;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 776px) {
  .footer .container .box:nth-child(3) .line {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footer .container .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}

@media (max-width: 776px) {
  .footer .container .line i {
    display: block;
    margin-bottom: 10px;
  }
}

.footer .container .line .info {
  line-height: 1.7;
  flex: 1;
}

.footer .container .line .info span {
  display: block;
}

.footer .container .footer-gallery img {
  width: 78px;
  margin: 2px;
  border: 3px solid #fff;
}

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #b9b9b9;
  border-top: 1px solid #444;
  margin-top: 50px;
}
/* End Footer */
/* Start Animation */
@keyframes up-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -10px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-20px);
  }
}
@keyframes left-move {
  50% {
    width: 15px;
    height: 15px;
    left: 0;
  }
  100% {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    left: 0;
  }
}
@keyframes right-move {
  50% {
    width: 15px;
    height: 15px;
    right: 0;
  }
  100% {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    right: 0;
  }
}
@keyframes arrow-to-left {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes change-background {
  0%,
  100% {
    background-image: url("../Images/discount-background1.jpg");
  }
  50% {
    background-image: url("../Images/discount-background2.jpg");
  }
}
/* End Animation */
